[Unit]
Description=Agiliza Backend Loco API
After=network.target postgresql.service

[Service]
User=root
Group=root
WorkingDirectory=/var/www/agiliza_backend
ExecStart=/var/www/agiliza_backend/agiliza_loco-cli start
Restart=always
RestartSec=3

# Variáveis de ambiente obrigatórias
Environment="LOCO_ENV=production"

[Install]
WantedBy=multi-user.target
